
#data {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 50%;
}
.card {
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border: 2px solid #333;

}

.card-head {
    font-size: 1.5rem;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 12px 0;
    margin: 0;
    
}

.card-price {
    font-size: 18px;
    padding: 6px 0;
    margin: 0;
}
#fetch-btn {
    width: 150px;
    padding: 16px 8px;
    background: transparent;
    border: 1px solid #2e2eea;
    color: #2e2eea;
    margin: 0 auto;
}
.blk {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}